* { 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth; 
 }

body{
    background: #fff; 
    color: #080808;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem;
}

.sidemenu button {
    margin-left: 1rem;
   padding: 1rem;
   border: 0.5px solid lightgrey;
   border-radius: 2rem;
   background-color: #fff;
}

.btn1{
    margin-right: 5rem;
}

.header{
    margin-top: 10rem;
    margin-left: 6rem;
}

.container div h1{
    font-size: 6rem;
    font-weight: 600;
    word-spacing: 1rem;
}

.container div h2{
    margin-top: 1rem;
    font-size: 5rem;
    font-weight: 500;
    color: grey;
    word-spacing: 1.5rem;
}

.para{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bolder;
}

.container div p{
    font-size: 2rem;
    margin-right: 5rem;
}

.form{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form button{
    width: 13rem;
    height: 12rem;
    font-size: 3rem;   
    font-weight: 700;
    color: white;
    background-color: rgb(111, 111, 111, 1);
    border-radius: 3rem;
    border: none;
    letter-spacing: -0.1rem;
}

input{
    width: 60rem;
    height: 12rem;
    font-size: 2rem;
    margin-top: 1rem;
    border-radius: 3rem;
    border: none;
    background-color: rgba(111, 111, 111, 0.1);
    text-align: center;
    word-spacing: 0.5rem;
    font-family: space Mono;
}

.slider{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.form .btn2{
    width: 22rem;
    height: 5rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    background-color: white;
    color: black;
    border: 0.5px solid lightgrey;
    word-spacing: 1rem;
    margin-bottom: 5rem;
}

.about{
    margin-top: 5rem;
    margin-left: 6rem;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin-left: 9rem;
}

.content{
    width: 46%;
}

.content h1{
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.content p{
    font-size: 1.4rem;
    word-spacing: 0.8rem;
    line-height: 2.2rem;
    width: 65.5%;
}

.images{
    margin-left: 5rem;
    margin-top: 2rem;
}

.images2{
    margin-right: 24rem;
    margin-top: 2rem;
}

.images h2, .images2 h2{
    margin-top: 1.5rem;
    font-size: 4rem;
    font-weight: 500;
    word-spacing: 1.5rem;
}

.Sponsor{
    margin-top: 6rem;
    margin-left: 10rem;
    margin-bottom: 6rem;
}

.Sponsor h2{
    font-size: 4rem;
    font-weight: 500;
    word-spacing: 1.5rem;
}

.xxx {
    height: 90vh;
}

.track {
    margin-left: 11rem;
}

.track div h1 {
    font-size: 5rem;
}

.track1 {
    font-size: 2.2rem;
    word-spacing: 0.3rem;
    line-height: 2.8rem;
    width: 70vw;
}

.track-img div p {
    font-size: 1.4rem;
    margin-top: 0.7rem;
}

.track-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 4rem;
    gap: 6rem;
    margin-left: 10rem;
    width: 80vw;
}

.track-img div {
    flex: 1 1 170px;
    max-width: 170px;
}

.circle {
    border: 1px solid gray;
    border-radius: 2rem;
    padding: 1rem;
    max-width: 100%; 
}

.more h2 {
    margin-top: 2rem;
    margin-left: -18rem;
    text-align: center;
}

a {
    color: black;
}

.Schedule {
    width: 90%;
    margin-left: 11rem;
    height: 90vh;
}

.Schedule1 {
    width: 90%;
    margin-left: 11rem;
    font-size: 3.5rem;
}

.Schedule div h1 {
    font-size: 4.5rem;
}

.days h4 {
    display: inline-block;
    border: 0.5px solid lightgrey;
    background-color: rgb(219, 220, 222);
    width: 10rem;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2.5rem;
    font-size: 1.4rem;
}

.list {
    font-size: 1.6rem;
    margin-left: 4rem; 
    margin-top: 3rem;
}

h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.speaker  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.speaker p {
    font-size: 1.9rem;
}

.speaker > div {
    margin: 0 30px; 
}

.more1 h2 {
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
}

.xyz {
    margin-top: 10rem;
}

.badge {
    text-align: center;
}

.badge p {
    font-size: 2.5rem;
    font-weight: 200;
    word-spacing: 0.8rem;
    margin-top: 4.5rem;
}

.Sponsors  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 5rem;
    width: 100vw;
}

.Team {
    text-align: center;
    margin-bottom: 2rem;
}

.Team p {
    font-size: 1.5rem;
    font-weight: 200;
    word-spacing: 0.5rem;
    margin-top: 1rem;
}

.Teams {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 5rem;
}

.Teams div p {
    font-size: 1.5rem;
    font-weight: 200;
    word-spacing: 0.5rem;
    margin-top: 1rem;
}

.faqs {
    width: 90%;
    margin-left: 7.4rem;
}

.faqs h1 {
    font-size: 4.5rem;
}

article {
    border: 0.01px solid grey;
}

.fa-solid {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 100;
}

article p  {
    font-size: 1.4rem;
   margin-top: 2rem;
   margin-left: 1.5rem;
}

.yyy {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.yyz {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.faq {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

footer {
    background-color: black;
    bottom: 0;
    margin-top: 13rem;
}

.footer1 {
    margin-left: 5rem;
}

footer div h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: 500;
}

.fill-form {
    margin-left: 12.5rem;
    padding-top:6rem;
}

.fill-form p {
    font-size: 2rem;
    color: gray;
    word-spacing: 1rem;
    letter-spacing: 0.4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
}

.fill-form a {
    color: gray;
    font-size: 2rem;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
}

.details div h2 {
    font-size: 2.5rem;
    color: #fff;
}

h4 {
    font-size: 1.6rem;
    font-weight: 400;
    color: grey;
}

.details-code a {
    color: gray;
}

.details-code {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.copy {
    color: gray;
    margin-top: 5rem;
    text-align: center;
    font-size: 2.5rem;
}

.Official{
    margin-top: 20rem;
}

.Panel{
    margin-top: 20rem;
}

.prizes{
    margin-top: 20rem;
}

.group{
    margin-top: 20rem;
}